In [2]:
#python dict data structure-stores data as key:value pair
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
print(dict1)

{'ename': 'sree', 'id': 101, 'salary': 50000, 'hike': True}

In [1]:
#dict()constructer
dict2=dict(color='red',year=2018,new=True,name='xyz')
print(dict2)

{'color': 'red', 'year': 2018, 'new': True, 'name': 'xyz'}

In [5]:
#read dict elements using keys
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
print(dict1["ename"])

sree

In [6]:
for key in dict1:
    print(dict1[key])

sree
101
50000
True

In [8]:
#access elements using get()
element=dict1.get("id")
print(element)

101

In [14]:
#get keys of dict
print(dict1.keys())
#get values of dict
print(dict1.values())
#get items from dict
print(dict1.items())
#to get presence of element
print(True if "hike" in dict1 else False)

dict_keys(['ename', 'id', 'salary', 'hike', 'year'])
dict_values(['sree', 101, 50000, True, 2018])
dict_items([('ename', 'sree'), ('id', 101), ('salary', 50000), ('hike', True), ('year', 2018)])
True

In [11]:
#add new elements
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
dict1["year"]=2018
print(dict1)

{'ename': 'sree', 'id': 101, 'salary': 50000, 'hike': True, 'year': 2018}

In [20]:
#update dict values
dict1["salary"]=60000
print(dict1)
#using update()
temp=dict1.update({"year":2019})
print(temp)

{'ename': 'sree', 'id': 101, 'salary': 60000, 'hike': True, 'year': 2018}
None

In [30]:
#remove elements from dict
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
dict1.pop("id") #removes specific item based on given key
print(dict1)

{'ename': 'sree', 'salary': 50000, 'hike': True}

In [31]:
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
dict1.popitem() #removes last item
print(dict1)

{'ename': 'sree', 'id': 101, 'salary': 50000}

In [32]:
dict1.clear() #clears elements in the dict
print(dict1)

{}

In [33]:
del dict1 #deletes dict permanantly
print(dict1)

NameError: name 'dict1' is not defined

In [1]:
#loops
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
for x in dict1:
    print(x) #key
for y in dict1:
    print(dict1[y]) #value

ename
id
salary
hike
sree
101
50000
True

In [3]:
dict1={"ename":"sree","id":101,"salary":50000,"hike":True}
for x,y in dict1.items():
    print(x,y)

ename sree
id 101
salary 50000
hike True

In [4]:
#copy() and dict()
dict2=dict1.copy()
dict3=dict(dict1)
print(dict2)
print(dict3)

{'ename': 'sree', 'id': 101, 'salary': 50000, 'hike': True}
{'ename': 'sree', 'id': 101, 'salary': 50000, 'hike': True}

In [9]:
#nested dict
child1={'name':'a','year':2000,'g':'m'}
child2={'name':'b','year':2002,'g':'fm'}
child3={'name':'c','year':2004,'g':'m'}
fam={"child1":child1,"child2":child2,"child3":child3}
print(fam)
print(fam['child3']['name'])

{'child1': {'name': 'a', 'year': 2000, 'g': 'm'}, 'child2': {'name': 'b', 'year': 2002, 'g': 'fm'}, 'child3': {'name': 'c', 'year': 2004, 'g': 'm'}}
c